#loancal{
    background-color: black;
    color: white;
    width: 500px;
    padding: 10px 20px 40px 50px;
    margin-left: 250px;
    margin-top: 155px;
    /* margin-bottom: 200px; */
    /* margin-right: 200px; */

}
body{
    background-color: lightblue;
}

input[type="number"]
{   
    width: 400px;
    font-size:24px;
}

h2{
    font-size: 50px;
}